In [14]:
import yfinance as yf
import pandas as pd

import statistics 
import pandas as pd

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
sp500_tickers = list(sp500.Symbol)
sp500_tickers = [e for e in sp500_tickers if e not in ('BRK.B','BF.B')]

data = yf.download(sp500_tickers, start="2000-01-01", group_by="ticker")

store = pd.HDFStore('store.h5')

store['sp500'] = data

[*********************100%***********************]  503 of 503 completed

In [15]:
data = yf.download("AAPL, MSFT", start="2000-01-01", group_by="ticker")

store = pd.HDFStore('store.h5')

store['sp500'] = data

[*********************100%***********************]  2 of 2 completed

In [16]:
def get_ticker_data(ticker):
    store = pd.HDFStore('store.h5')
    
    sp500data = store['sp500']

    data = sp500data[ticker]
    
    return pd.DataFrame(data)

In [89]:
import pandas as pd
import yfinance as yf
import numpy as np

def get_trades(data, fast = 12, slow = 26, buy_cross = 0, sell_cross = 0, buy_macd = 0, sell_macd = 0, buy_rsi = 60, sell_rsi = 30):
    suavizado = 9
    ruedas=14

    data = data[['Adj Close']]
    data = pd.DataFrame(data)
    data.rename(columns={'Adj Close':'Close'}, inplace=True)
    
    sma_fast = data.Close.rolling(fast).mean()
    sma_slow = data.Close.rolling(slow).mean()
        
    data['cross'] = (sma_fast / sma_slow - 1) * 100

    ema_fast = data.Close.ewm(span=fast).mean()
    ema_slow = data.Close.ewm(span=slow).mean()

    macd = ema_fast - ema_slow
    signal = macd.ewm(span=suavizado).mean()
    data['macd'] = macd - signal

    dif = data.Close.diff()
    win = pd.DataFrame(np.where(dif > 0, dif, 0))
    loss = pd.DataFrame(np.where(dif < 0, abs(dif), 0))
    ema_win = win.ewm(alpha = 1/ruedas).mean()
    ema_loss = loss.ewm(alpha = 1/ruedas).mean()
    rs = ema_win / ema_loss   
    rs.index = data.index
    data['rsi'] = 100 - (100 / (1+rs))    
    
    data.dropna(inplace=True)

    data['signal'] = 'no-signal'
    buy = (data.cross > buy_cross) & (data.macd > buy_macd) & (data.rsi > buy_rsi)
    data.loc[buy, 'signal'] = 'buy'

    sell = (data.cross < sell_cross) | (data.macd < sell_macd) | (data.rsi < sell_rsi)
    data.loc[sell, 'signal'] = 'sell'
    
    return data.loc[data.signal != 'no-signal']

In [90]:
data = get_ticker_data('MSFT')
info = get_trades(data)
info.loc[info.signal != info.signal.shift()]

                 Close     cross      macd        rsi signal
Date
2000-02-08   35.085461 -3.980985  0.271669  55.912829   sell
2000-03-23   35.703793  3.313796  0.548372  67.576186    buy
2000-04-03   29.001858  4.839216 -0.141413  39.746228   sell
2000-06-19   23.516636  3.487099  0.401972  60.672274    buy
2000-07-12   25.630945  5.029668 -0.011356  59.794248   sell
...                ...       ...       ...        ...    ...
2020-06-09  189.342300  0.568151  0.065633  64.319262    buy
2020-06-15  188.484375  1.233885 -0.055505  56.844605   sell
2020-06-16  193.103210  1.500682  0.165633  61.706277    buy
2020-07-15  207.538315  3.567662 -0.277905  59.802391   sell
2020-08-25  216.470001  0.682377  0.356396  60.568391    buy

[268 rows x 5 columns]

In [215]:
results = []
i = 0

#for ticker in sp500_tickers:
for ticker in ['REGN']:
    print(f"{i} - {ticker}")
    
    i = i + 1
    
    trades = get_trades(ticker)
    
    ################
    
    money = 100000
    shares = 0
    total = 0

    for index, row in trades.iterrows():
        if (row.buy == True):
            newShares = int(money / row.close)
            shares += newShares
            money -= newShares * row.close
        elif (row.sell == True):
            money += shares * row.close
            shares = 0   

        total = money + shares * row.close
    
    #################    
    
    print(total)
    
    data = trades.loc[trades.result != '']

    groups = data.groupby('result').count()['close'];  
    
    ticker_results = {
        'ticker': ticker,
        'oks': groups[1] if len(groups) else 0,
        'fails': groups[0] if len(groups) else 0,
        'min': data.fw.min(),
        'mean': data.fw.mean(),
        'max': data.fw.max(),
        'money': money,
        'shares': shares,
        'total': total
    }
    
    results.append(ticker_results)
    

df = pd.DataFrame(results)


df

0 - REGN
6432697.166389942

,ticker,oks,fails,min,mean,max,money,shares,total
0,REGN,122,103,-20.49911,1.76526,42.398883,6.432697e+06,0,6.432697e+06

In [197]:
df.sort_values('total', ascending=False)

,ticker,oks,fails,min,mean,max,money,shares,total
395,REGN,122,103,-20.499110,1.765260,42.398883,6.432697e+06,0,6.432697e+06
18,ALGN,98,90,-32.033423,1.674709,62.034390,2.320707e+06,0,2.320707e+06
460,URI,148,106,-26.623380,1.504099,23.879298,2.208355e+06,0,2.208355e+06
470,VRTX,127,113,-18.690822,1.429320,40.020899,7.862018e+05,0,7.862018e+05
183,FFIV,139,115,-26.174497,1.151565,72.032204,7.674224e+05,0,7.674224e+05
...,...,...,...,...,...,...,...,...,...
444,TT,14,20,-62.903224,-1.579737,42.258645,3.941955e+03,0,3.941955e+03
471,VIAC,0,0,NaN,NaN,NaN,1.000000e+05,0,0.000000e+00
236,HWM,0,0,NaN,NaN,NaN,1.000000e+05,0,0.000000e+00
357,OTIS,0,0,NaN,NaN,NaN,1.000000e+05,0,0.000000e+00
86,CARR,0,0,NaN,NaN,NaN,1.000000e+05,0,0.000000e+00

In [216]:
ticker = 'REGN'

trades = get_trades(ticker)

################

money = 100000
shares = 0
total = 0

for index, row in trades.iterrows():
    if (row.buy == True):
        newShares = int(money / row.close)
        shares += newShares
        money -= newShares * row.close
    elif (row.sell == True):
        money += shares * row.close
        shares = 0   

    total = money + shares * row.close

#################    

print(total)

data = trades.loc[trades.result != '']

groups = data.groupby('result').count()['close'];  

ticker_results = {
    'ticker': ticker,
    'oks': groups[1] if len(groups) else 0,
    'fails': groups[0] if len(groups) else 0,
    'min': data.fw.min(),
    'mean': data.fw.mean(),
    'max': data.fw.max(),
    'money': money,
    'shares': shares,
    'total': total
}

6432697.166389942

In [217]:
ticker_results

{'ticker': 'REGN',
 'oks': 122,
 'fails': 103,
 'min': -20.49910994649139,
 'mean': 1.7652599545130934,
 'max': 42.39888325669801,
 'money': 6432697.166389942,
 'shares': 0,
 'total': 6432697.166389942}